<link rel="stylesheet" href="/master.css">

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @country.name %>
</p>
<p>
  <strong>Capital:</strong>
  <%= @country.capital %>
</p>
<p>
  <strong>Location:</strong>
  <%= @country.location %>
</p>

<hr>
<%= link_to 'Edit', edit_country_path(@country) %>
<hr>
<%= link_to 'Back', countries_path %>
<hr>

<h2>Cities</h2>
  <table>
    <thead>
      <tr>
        <div class="city">
        <th>Name</th>
        <th>Population</th>
        <th>Description</th>
        <th colspan="3"></th>
        </div>
      </tr>
    </thead>

    <tbody>
      <% @country.cities.each do |city| %>
        <tr>
          <td><%= city.name %></td>
          <td><%= city.population %></td>
          <td><%= city.desciption %></td>

        </tr>
      <% end %>
    </tbody>
  </table>


<hr>
<%= link_to 'Edit', edit_country_path(@country) %>
<hr>
<%= link_to 'Add New City', new_city_path %>
<%= link_to 'Back', countries_path %>
<hr>
