<%= form_for([@country, @country.cities.build]) do |f| %>
  
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :population %>
    <%= form.number_field :population %>
  </div>

  <div class="field">
    <%= form.label :desciption %>
    <%= form.text_area :desciption %>
  </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
